<p><strong>Full name:</strong> <%= @employee.full_name %></p>
<p><strong>Designation:</strong> <%= @employee.designation.designation_type %></p>

<p><%= link_to("Leave Report(PDF)", doc_report_employee_path(@employee, :format => 'pdf'))%></p>