<p>
  <b>From date:</b>
  <%=h @applied_off.from_date %>
</p>

<p>
  <b>To date:</b>
  <%=h @applied_off.to_date %>
</p>


<%= link_to 'Edit', edit_applied_off_path(@applied_off) %> |
<%= link_to 'Back', applied_offs_path %>